  <div class="container">
    <pre>
    Use the following code to put a wysiwyg editor.
    &#123;&#123;summer-note height=contentHeight 
                  btnSize=bs-sm 
                  airMode=false 
                  content=postContent 
                  focus=false 
                  header="Example" 
                  lang="en-US"
                  disabled=myControlVariable 
                  disabledOptions=disabledOptions&#125;&#125;

    disabledOptions: {
      style: false,
      insert: {
        picture: false
      },
      help: false
    }
    </pre>

    <div class='container'>
      <h3>Example </h3>
      {{summer-note height=contentHeight btnSize=bs-sm content=postContent airMode=false lang='ko-KR' focus=false header="Example" disabled=editingDisabled disabledOptions=disabledOptions}}

      <p>Disable editing {{input type="checkbox" checked=editingDisabled}}</p>
    </div>
    <div class="container">
      <div class='wysiwyg-preview'>
        <pre>
          {{{postContent}}}
        </pre>
      </div>
    </div>
  </div>
