  <div class="container">
    <pre>

     Use the following code to put a wysiwyg editor.
    &#123;&#123;summer-note content=postContent header="Example"&#125;&#125;
    </pre>
    <div class='container'>
      <h3>Example </h3>
      {{summer-note height=200 btnSize=bs-sm content=postContent focus=false header="Example"}}
    </div>
    <div class="container"> 
      <div class='wysiwyg-preview'>
        <pre>
          {{{postContent}}}
        </pre>
      </div>
    </div>
  </div>