<div class="jumbotron">
  <div class="container">
	<h2 id='title'>ember-cli addon for summernote</h2>
	<p>This is an ember component for rich text editor that integrates summernote.</p>

  <p> <h5>This addon is inspired by  Heather Brysiewicz's blog.</h5> </p>

	{{#link-to "examples" class="btn btn-primary btn-lg"}}View the examples »{{/link-to}}
  </div>

</div>
